{{define "title"}}Create a new Test{{end}}
{{define "main"}}
<form action="/attendance/update" method="post" novalidate>
    <div>
        <label >Subject:</label>
        <select name="subject">
            <option value="Computer Organization">Computer Organization</option>
            <option value="DSA">DSA</option>
            <option value="DSD">DSD</option>
            <option value="UHV">UHV</option>
            <option value="MATHS">MATHS</option>
            <option value="OOP ">OOP</option>
            <option value="DAA">DAA</option>
            <option value="ENGLISH">ENGLISH</option>
            <option value="Elecronics">Elecronics</option>
            <option value="AI ML">AI ML</option>
            <option value="Operating System">Operating System</option>
            <option value="DBMS">DBMS</option>
            <option value="Networking">Networking</option>
            <option value="Game Theory">Game Theory</option>
            <option value="Machine Handling">Machine Handling</option>
            
        </select>
    </div>
    <div><label >Attended</label>
        
        <input type='radio' name='Attended' value='true'> Attended 
        <input type='radio' name='Attended' value='false'> Not Attended
       
        </div>
        
    

<div>
    <input type="submit" value="Update">
</div>
</form>
{{end}}