{{define "title"}}Attendance #{{.Attendance.Subject}}{{end}} 
 
{{define "main"}} 
{{with .Attendance}}
    <div class='snippet'> 
        <div class='metadata'> 
            <strong>Subject:{{.Subject}}</strong> 
            <span>{{.ID}}</span> 
        </div> 
        <pre><code>Attended: <strong> {{.Attended}}</strong></code></pre> 
        <pre><code>Total Classes :  <strong>{{.TotalClasses}}</strong></code></pre>
        <pre><code>Percentage  :  <strong>{{ .Percentage}}%</strong></code></pre>
        {{end}}
        
        
        <div class='snippet'> 
            <div class='metadata'> 
                Remarks:<strong>{{.AttRemarks}}</strong> 
                 
            </div> 
            <div class='metadata'> 
                <time>UpdatedAt: {{.Attendance.UpdatedAt}}</time> 
                 
            </div> 
            
    </div> 
    
{{end}}