{{define "title"}}Expense #{{.Expense.ID}}{{end}} 
 
{{define "main"}} 
{{with .Expense}}
    <div class='snippet'> 
        <div class='metadata'> 
            <strong>Category   :         {{.Category}}</strong> 
            <span>{{.ID}}</span> 
        </div> 
        <pre><code>Description:<strong> {{if  .Description.Valid }}<td>{{.Description}}</td> {{else}}<td>Nil</td> {{end}}</strong></code></pre> 
        <pre><code>Amount     :<strong> {{.Amount}}</strong></code></pre>
        
         
        
        
            <div class='metadata'> 
                <time>Date: {{.Date}}</time> 
                 
            </div> 
    </div> 
    {{end}}
    
{{end}}